{% extends "deals/base.html" %}

{% block title %}Chollometro - Que es?{% endblock %}

{% block content %}
<h1>
Y esto que es?
</h1>
<p>
    <h4>
        El <strong>Chollometro</strong> es una comunidad anti-primos.
    </h4>
    <p>
        Intentamos resumir en una pagina precios sorprendentemente bajos en cualquier tipo de productos (errores de precio, liquidaciones, ofertas de reembolso...).
    </p>
    <p>
        Navegante del internet, si crees que has visto un precio realmente bueno, avisanos y sometelo al voto de la comunidad:
    </p>
    <ol>
        <li>
            Create un usuario
        </li>
        <li>
            Avisanos del presunto chollo
        </li>
        <li>
            Deja que la comunidad vote
        </li>
        <li>
            Si llega a 100 votos, entra en la lista de chollos!
        </li>
    </ol>
    La pagina no da para mas, en realidad es como un <a href="http://www.meneame.com">Meneame</a> de chollos, pero mucho mas cutre.
</p>
{% endblock %}
