{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Chollometro{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'customstyles/krokodeal.css' %}" rel="stylesheet">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-58874206-1', 'auto');
      ga('send', 'pageview');
    
    </script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'deals:new' %}">El Chollometro</a>
        </div>
        {% url 'deals:hot' as hoturl %}
        {% url 'deals:new' as newurl %}
        {% url 'deals:about' as abouturl %}
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li {% if request.path == hoturl %} class="active"{% endif %}><a href="{{hoturl}}">Chollos</a></li>
            <li {% if request.path == newurl %} class="active"{% endif %}><a href="{{newurl}}">Nuevos</a></li>
            <li {% if request.path == abouturl %} class="active"{% endif %}><a href="{{abouturl}}">A mi me habla mas sinsillo</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          {% block content %}
          <p>Pues no hay nada por aqui...</p>
          {% endblock %}
        </div>
        <div class="col-sm-3 col-sm-offset-1">
          {% if user.is_authenticated %}
            <h6>
              Buenas, <strong>{{ user.username }}</strong>!
              <small>Ya te ibas? <a href="{% url 'deals:logout'%}">desconectate</a></small>
              
            </h6> 
          {% else %}
            <p>Hola, <a href="{% url 'deals:login'%}">haz click para autenticarte</a></p>
            <p>
              <a class="btn btn-primary btn-lg"href="{% url 'deals:register'%}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Registrate</a>
            </p>
          {% endif %}
          <p>
            <a class="btn btn-primary btn-lg"href="{% url 'deals:add'%}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Avisa de un chollo</a>
          </p>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted">¡Atención! Este sitio usa cookies y tecnologías similares. Si no cambia la configuración de su navegador, usted acepta su uso. <a href="http://www.agpd.es/portalwebAGPD/canaldocumentacion/publicaciones/common/Guias/Guia_Cookies.pdf">Saber más</a></p>
        <p class="text-muted">Chollometro, algunos derechos reservados, <a href="{% url 'deals:disclaimer' %}">Aviso legal</a></p>
      </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>