{% extends "deals/base.html" %}
{% load  deal_extras %}
{% load staticfiles %}

{% block title %}Chollometro - {{deal.title_text}}{% endblock %}

{% block content %}
{% if deal %}
            <div class="row">
                <div class="col-md-2">
                    <a href="{{deal.link_url}}">
                        <div class="">
                            {% if deal.thumbnail_image != None %}  {% comment %} legacy code, el puc borrar quan netegi la prod {% endcomment %}
                            <img src="{{ deal.thumbnail_image.url }}" alt="{{deal.title_text}}" height="{{deal.thumbnail_image_height}}" width="{{deal.thumbnail_image_width}}" />
                            {% else%}
                            <img src="{{ deal.imageUrl_url }}" alt="{{deal.title_text}}" height="100" width="100" />
                            {% endif %}
                        </div>
                        <div class="">
                            <h4 class="text-right" width="100">{{deal.price_decimal}} &euro;</h4>
                        </div>
                    </a>
                </div>
                <div class="col-md-9">
                    <h4><a href="{{deal.link_url}}">{{deal.title_text}}</a></h4>
                    {{deal.description_text}}
                </div>
                <div class="col-md-1">
                    <h4 class="text-center">{{deal.temperature}}</h4>
                    <form action="{% url 'deals:vote' deal.id %}" method="post">
                        {% csrf_token %}
                        <div class="btn-group-vertical" role="toolbar">
                            <button type="submit" name="{{deal.id}}_up" value="up" class="btn btn-default btn-sm {{ deal|canUpvoteFormatting:user.id }}"><span class="glyphicon glyphicon-chevron-up"></span></button>
                            <button type="submit" name="{{deal.id}}_down" value="down"  class="btn btn-default btn-sm {{ deal|canDownvoteFormatting:user.id }}"><span class="glyphicon glyphicon-chevron-down"></span></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-info" style="width: {{deal.temperature}}%"></div>
            </div>
            <div >
                <div class="pull-right">
                    <a href="http://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}{{ object.get_absolute_url }}"><img src="{% static 'img/32-facebook.png' %}" alt="Compartir en Facebook"></a>
                    <a href="https://plusone.google.com/_/+1/confirm?url={{ request.build_absolute_uri }}{{ object.get_absolute_url }}"><img src="{% static 'img/32-googleplus.png' %}" alt="Compartir en Google +"></a>
                    <a href="https://twitter.com/intent/tweet?text={{deal.title_text}}&url={{ request.build_absolute_uri }}{{ object.get_absolute_url }}&via=Chollometro"><img src="{% static 'img/32-twitter.png' %}" alt="Compartir en Twitter"></a>
                    <a href="http://www.meneame.net/submit.php?url={{ request.build_absolute_uri }}{{ object.get_absolute_url }}&title={{deal.title_text}}"><img src="{% static 'img/32-meneame.png' %}" alt="Compartir en Menéame"></a>
                    <span class='st_facebook_large' displayText='Facebook'></span>
                    <span class='st_twitter_large' displayText='Tweet'></span>
                    <span class='st_googleplus_large' displayText='Google +'></span>
                    <span class='st_meneame_large' displayText='Meneame'></span>
                    <span class='st_pinterest_large' displayText='Pinterest'></span>
                    <span class='st_whatsapp_large' displayText='WhatsApp'></span>
                </div>
            </div>
            {{ user.id|printSSO|safe }}
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                var disqus_shortname = 'chollometro';
        
                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            
            <meta name="twitter:card" content="summary" />
            <meta name="twitter:site" content="@chollometro" />
            <meta name="twitter:title" content="{{deal.title_text}}" />
            <meta name="twitter:description" content="{{deal.description_text}}" />
            <meta name="twitter:image" content="{{ deal.thumbnail_image.url }}" />
            <meta name="twitter:url" content="{{deal.link_url}}" />
    
{% else %}
        <p>La liamos, el deal que buscas no existe...</p>
{% endif %}
{% endblock %}