{% extends "deals/base.html" %}

{% block title %}Chollometro - Avisa de un chollo{% endblock %}

{% block content %}
<form role="form" action="{% url 'deals:add'%}" method="post">
  {% csrf_token %}
  
    {{ form.non_field_errors }}
    <div class="form-group">
        {{ form.title_text.errors }}
        <label for="{{ form.title_text.id_for_label }}">Título*:</label>
        {{ form.title_text }}
    </div>
    <div class="form-group">
        {{ form.description_text.errors }}
        <label for="{{ form.description_text.id_for_label }}">Descripción*:</label>
        {{ form.description_text }}
    </div>
    <div class="form-group">
        {{ form.link_url.errors }}
        <label for="{{ form.link_url.id_for_label }}">Url del chollo*:</label>
        {{ form.link_url }}
    </div>
    <div class="form-group">
        {{ form.price_decimal.errors }}
        <label for="{{ form.price_decimal.id_for_label }}">Precio*:</label>
        <div class="input-group">
            {{ form.price_decimal }}
            <span class="input-group-addon">€</span>
        </div>
    </div>
    <div class="form-group">
        {{ form.imageUrl_url.errors }}
        <label for="{{ form.imageUrl_url.id_for_label }}">Url de la imagen:</label>
        {{ form.imageUrl_url }}
    </div>
        <div class="form-group" style="visibility:hidden; height:0px;">
        {{ form.thumbnail_image.errors }}
        <label for="{{ form.thumbnail_image.id_for_label }}">Subir imagen:</label>
        {{ form.thumbnail_image }}
    </div>
  <input type="submit" class="btn btn-primary" value="Submit" />
</form>
{% endblock %}
