{% extends "deals/base.html" %}
{% load  deal_extras %}

{% block title %}Chollometro - Los chollos del dia{% endblock %}

{% block content %}
{% if deals %}
    {% for deal in deals %}
            <div class="row">
                <div class="col-sm-2">
                    <a href="{{deal.link_url}}">
                        <div class="">
                            {% if deal.thumbnail_image != None %}  {% comment %} legacy code, el puc borrar quan netegi la prod {% endcomment %}
                            <img src="/deals{{ deal.thumbnail_image.url }}" alt="{{deal.title_text}}" height="{{deal.thumbnail_image_height}}" width="{{deal.thumbnail_image_width}}" />
                            {% else%}
                            <img src="{{ deal.imageUrl_url }}" alt="{{deal.title_text}}" height="100" width="100" />
                            {% endif %}
                        </div>
                        <div class="">
                            <h4 width="100">{{deal.price_decimal}} &euro;</h4>
                        </div>
                    </a>
                </div>
                <div class="col-sm-9">
                    <h4><a href="{% url 'deals:dealDetail' deal.slug%}">{{deal.title_text}}</a></h4>
                    {{deal.description_text}}
                </div>
                <div class="col-sm-1" style="width: 5em">
                    <h4 class="text-center">{{deal.temperature}}</h4>
                    <form action="{% url 'deals:vote' deal.id %}" method="post">
                        {% csrf_token %}
                        <div class="btn-group-vertical" role="toolbar">
                            <button type="submit" name="{{deal.id}}_up" value="up" class="btn btn-default btn-sm {{ deal|canUpvoteFormatting:user.id }}"><span class="glyphicon glyphicon-chevron-up"></span></button>
                            <button type="submit" name="{{deal.id}}_down" value="down"  class="btn btn-default btn-sm {{ deal|canDownvoteFormatting:user.id }}"><span class="glyphicon glyphicon-chevron-down"></span></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-info" style="width: {{deal.temperature}}%"></div>
            </div>
    {% endfor %}
    <!--
        <div class="btn-group" role="group">
          
          <button type="button" class="btn btn-default">1</button>
          <button type="button" class="btn btn-default">2</button>
          <button type="button" class="btn btn-default">3</button>
          <button type="button" class="btn btn-default">...</button>
          <button type="button" class="btn btn-default">99</button>
          
        </div>
            -->
        <div class="row">
            <div class="center-block" >
        {% if deals.has_previous %}
                        <a href="{% url 'deals:newPaged' deals.previous_page_number %}" class="btn btn-default"><span class="glyphicon glyphicon glyphicon-chevron-left" aria-hidden="true"></span>los nuevos</a>
        {%else%}
                        <a href="#" class="btn btn-default disabled"><span class="glyphicon glyphicon glyphicon-chevron-left" aria-hidden="true"></span>los nuevos</a>
        {% endif %}
        {% if deals.has_next %}                   
                        <a href="{% url 'deals:newPaged' deals.next_page_number %}" class="btn btn-default">Los viejos<span class="glyphicon glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
        {% else %}
                        <a href="#" class="btn btn-default disabled">Los viejos<span class="glyphicon glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
        {% endif %}
        
        <em> en la página {{deals.number}} de {{deals.paginator.num_pages}} </em>
            </div>
        </div>
{% else %}
        <p>Vaya, parece que todo esta muy caro...</p>
{% endif %}
{% endblock %}