{% extends "deals/base.html" %}

{% block title %}Krokodeal - Today's hot deals{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Our fantastic list of deals</h1>
    </div>
    <div class="row">
{% if deals %}
    {% for deal in deals %}
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="{{deal.imageUrl_url}}" alt="{{deal.title_text}}" width="100" height="100" >
                <span>{{deal.price_decimal}} euro</span>
            </a>
            <div class="pull-right">
                <h4>{{deal.temperature}}</h4>
                <form action="{% url 'deals:vote' deal.id %}" method="post">
                    {% csrf_token %}
                    <div class="btn-group-vertical" role="toolbar">
                        <button type="submit" name="{{deal.id}}_up" value="up" class="btn btn-default"><span class="glyphicon glyphicon-chevron-up"></span></button>
                        <button type="submit" name="{{deal.id}}_down" value="down"  class="btn btn-default"><span class="glyphicon glyphicon-chevron-down"></span></button>
                    </div>
                </form>
            </div>
            <div class="media-body">
              <h4 class="media-heading">{{deal.title_text}}</h4>
              {{deal.description_text}}
            </div>
        </div>
    {% endfor %}
{% else %}
        <p>No deals for you today :(</p>
{% endif %}
    </div>
{% endblock %}