{% extends "deals/base.html" %}

{% block title %}Chollometro - Aviso legal{% endblock %}

{% block content %}
<h1>
Política de privacidad y aviso legal.
</h1>
<p>
A través de este sitio web no se recaban datos de carácter personal de los usuarios sin su conocimiento, ni se ceden a terceros.
</p>
<p>
Con la finalidad de ofrecerle el mejor servicio y con el objeto de facilitar el uso, se analizan el número de páginas visitadas, el número de visitas, así como la actividad de los visitantes y su frecuencia de utilización. A estos efectos, Chollometro utiliza <a href="http://analytics.google.com">Google Analytics</a>.
</p>
<p>
Chollometro no utiliza cookies para recoger información de los usuarios, ni registra las direcciones IP de acceso. Únicamente se utilizan cookies propias,  de sesión, con finalidad técnica (aquellas que permiten al usuario la navegación a través del sitio web y la utilización de las diferentes opciones y servicios que en ella existen).
</p>
<p>
En cumplimiento de lo previsto por el artículo 5 de la LOPD, se informa que los datos de carácter personal que se recaban directamente del usuario a través de los distintos recursos disponibles en el portal, serán tratados de forma confidencial y quedarán incorporados a los respectivos ficheros de los que es responsable Chollometro, con las finalidades que se detallan en el Registro General de Protección de Datos: Ficheros, no siendo utilizados para finalidades incompatibles con estas. Los datos recabados podrán ser cedidos en los casos previstos, para cada fichero, en dicho Registro.
</p>
<p>
Los afectados pueden ejercitar los derechos de acceso, rectificación, cancelación y oposición ante Chollometro.
</p>
{% endblock %}
