html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 130px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  background-color: #f5f5f5;
}

.dealexpired img{
  opacity: 0.4;
}

.dealexpired h4 a{
  color: #BBBBBB
}

.dealexpired h4{
  color: #BBBBBB
}